.talks-container {
  .talk-item {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid;
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    .talk-item-name {
      font-size: 18px;
      color: var(--blue);
    }
    .talk-item-place {
      font-weight: 300;
      color: var(--green);
    }
    .talk-item-date {
      font-size: 14px;
    }
  }
}
