<div>
  <a
    *ngFor="let experience of experiences"
    class="flex flex-col border-b py-1 hover:underline"
    [ngClass]="{ 'pointer-events-none': !experience.url }"
    [href]="experience.url"
    target="_blank">
    <div class="text-lg text-blue">{{ experience.work }}</div>
    <div class="font-light text-green">{{ experience.business }}</div>
    <div class="text-sm">
      {{ experience.startDate | date : 'MMM yyyy' }} -
      {{
        experience.endDate ? (experience.endDate | date : 'MMM yyyy') : 'act.'
      }}
    </div>
  </a>
</div>
