.experiences-container {
  .experience-item {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid;
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    .experience-item-work {
      font-size: 18px;
      color: var(--blue);
    }
    .experience-item-business {
      font-weight: 300;
      color: var(--green);
    }
    .experience-item-dates {
      font-size: 14px;
    }
  }
}
