.skills-container {
  .skill-grouping {
    border-bottom: 1px solid;
    margin-bottom: 5px;
    height: 100%;
    .skill-grouping-name {
      font-size: 20px;
      font-weight: 300;
      color: var(--green);
    }
  }
  .skill-item {
    .skill-item-name {
      font-size: 18px;
      color: var(--blue);
    }
    .skill-item-value {
      height: 16px;
      border: 1px solid;
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
      max-width: 300px;
      display: inline-flex;
      .skill-item-value-percent {
        background-color: var(--red);
        height: 100%;
      }
      .skill-item-value-separators-container {
        width: 300px;
        height: 16px;
        position: absolute;
        overflow: hidden;
        border-radius: 10px;
        z-index: 9;
        .skill-item-value-separator-item {
          border-left: 1px solid #dddddd;
          height: 100%;
        }
      }
    }
    .skill-item-favorite {
      width: 20px;
    }
  }
}