<div class="flex flex-row flex-wrap">
  <div
    *ngFor="let grouping of skills"
    class="basis-full sm:basis-1/2 md:basis-1/3">
    <div class="h-full border-b py-1">
      <div class="text-xl font-light text-green">{{ grouping.name }}</div>
      <div
        *ngFor="let skill of grouping.skills"
        class="flex flex-row items-center justify-start gap-2">
        <div class="w-5">
          <i class="fas fa-star" *ngIf="skill.favorite"></i>
        </div>
        <div class="flex-1 text-lg text-blue">{{ skill.name }}</div>
      </div>
    </div>
  </div>
</div>
