<div class="app-content">
  <div fxLayout="row wrap" fxLayoutGap="10px grid">
    <div fxFlex="100" *ngIf="bio$ | async as bio">
      <h2>Hey</h2>
      <gen-bio [bio]="bio"></gen-bio>
    </div>

    <div fxFlex="100" *ngIf="experiences$ | async as experiences">
      <h2>Experience</h2>
      <gen-experience [experiences]="experiences"></gen-experience>
    </div>

    <div fxFlex="100" *ngIf="skills$ | async as skills">
      <h2>Skills</h2>
      <gen-skills [skills]="skills"></gen-skills>
    </div>

    <div fxFlex="100" *ngIf="talks$ | async as talks">
      <h2>Talks</h2>
      <gen-talks [talks]="talks"></gen-talks>
    </div>

    <div fxFlex="100" *ngIf="networks$ | async as networks">
      <h2>Where I am</h2>
      <gen-networks [networks]="networks"></gen-networks>
    </div>
  </div>
  <gen-footer></gen-footer>
</div>
