.bio-container {
  .bio-img {
    margin-right: 10px;
    img {
      height: 150px;
      width: 150px;
      max-height: 30vw;
      max-width: 30vw;
      border-radius: 50%;
      border: 2px solid;
    }
  }
  .bio-info {
    h1 {
      margin: 0 0 10px;
      color: var(--blue);
    }
    h2 {
      margin: 0 0 10px;
      color: var(--green);
      font-weight: 300;
    }
  }
}